.ItemCard {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #333;
}

.ItemCard div,
svg {
    background: none;
}

.FavoriteButton {
    width: fit-content;
    cursor: pointer;
}

.FavoriteButton:hover svg {
    fill: crimson;
    stroke: crimson;
}

.Active svg {
    fill: red;
    stroke: red;
}

.Draggable {
    cursor: grab;
}
