.Header {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Logo {
    font-style: 3rem;
    font-weight: bold;
    background: none;
}
